html{
    background-color: rgb(58, 66, 66);
    color: aliceblue;
}
div h1{
    color: rgb(195, 187, 202);
    font-style: italic;
    font-weight: 100px;
}
.first{
    color: rgb(17, 17, 215);
}
.main {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}